---
- name: remove old custom packages
  apt:
    name:
      - salt-common
      - salt-minion
      - grafana-agent
      - vector
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: absent

- name: Delete legacy package repos
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /etc/apt/trusted.gpg
    - /etc/apt/sources.list.d/deb-grafana.list
    - /etc/apt/sources.list.d/docker.list
    - /etc/apt/sources.list.d/vector.list
    - /etc/apt/sources.list.d/salt.list

- name: Remove /usr/local/src/amd
  file:
    path: /usr/local/src/amd
    state: absent

- name: Ensure python3 is up to date
  package:
    name: python3
    state: latest

- name: clean python3 caches
  command: py3clean /

- name: Remove litos installation marker files
  file:
    path: "{{ item }}"
    state: absent
    force: yes # delete non-empty folders too
  with_items:
    - /var/local/litos-tee-amd.install
    - /var/local/litos-tee.install
    - /var/local/lit-cli.install
    - /var/local/vector-repo.install

- name: Stop IPFS service
  systemd:
    name: ipfs
    state: stopped
  ignore_errors: true # otherwise will fail if service doesnt exist on fresh install

- name: Remove IPFS installation marker files
  file:
    path: "{{ item }}"
    state: absent
    force: yes # delete non-empty folders too
  with_items:
    - /var/local/ipfs.install
    - /var/ipfs/.ipfs
    - /var/ipfs/.ipfs.configure
    - /var/ipfs/.ipfs.init

- name: Remove all files in /var/cache/salt
  file:
    path: /var/cache/salt
    state: absent

- name: Recreate amd folder
  file:
    path: /usr/local/src/amd
    state: directory

- name: Remove old lit-os-node files
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /root/lit-os-node
    - /root/lit-os-node.tgz
    - /root/lit-os-node.tar.gz

- name: Remove outdated custom openssl binary, libc64.conf, and /usr/local/lib64
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /usr/local/bin/openssl
    - /etc/ld.so.conf.d/libc64.conf
    - /usr/local/lib64
