---
- name: Download new AMDSEV packages
  get_url:
    # For 'datil' networks, use the old 6.9-rc kernels (compat with sev5 based sev-snp-utils v1.x)
    # For newer networks, use the 6.11/6.13 kernels (compat with sev6 based sev-snp-utils v2.600.x)
    url: >-
      {% if 'datil' in network_name %}
      https://storage.googleapis.com/lit-protocol-official-packages/amd-tee-packages_debian-12.tar.gz
      {% else %}
      https://storage.googleapis.com/lit-protocol-official-packages/naga/naga_amd-tee-packages_debian-12-250503.tar.gz
      {% endif %}
    dest: /usr/local/src/amd/amd-tee-packages_debian-12.tar.gz
    validate_certs: false
    force: yes

- name: Get /root/.salt-local/git.sls (must exist here)
  command: cat /root/.salt-local/git.sls
  register: git_sls_content

- name: Show git.sls content
  debug:
    msg: "{{ git_sls_content.stdout }}"

- name: Ensure secrets.sls exists (create manually if it doesnt)
  stat:
    path: /root/.salt-local/secrets.sls
  register: secrets_file
  failed_when: "not secrets_file.stat.exists"

- name: Pre-create /run/motd
  become: yes
  ansible.builtin.file:
    path: /run/motd
    state: touch
    mode: "0644"
  ignore_errors: yes

- name: Download and install lit-os-node package
  block:
    - name: Download lit-os-node package
      get_url:
        url: https://storage.googleapis.com/lit-protocol-official-packages/lit-os-node.tar.gz
        dest: /root/lit-os-node.tar.gz
        validate_certs: false
    - name: Extract lit-os-node package
      unarchive:
        src: /root/lit-os-node.tar.gz
        dest: /root
        remote_src: yes
    - name: install lit-os in node mode (this can take > 15 minutes, please be patient)
      become: true
      retries: 1
      command: >
        /root/lit-os-node/node/scripts/install.sh
        --env {{ env }}
        --subnet-id {{ hostvars[inventory_hostname]['subnet_id'] }}
        --net4-ip {{ hostvars[inventory_hostname]['host_ip'] }}
        --net4-gw {{ hostvars[inventory_hostname]['host_gw'] }}
        --root-email {{ hostvars[inventory_hostname]['root_email'] }}
        {% if hostvars[inventory_hostname].provider == 'ovh' %}
        --cloud-provider {{ hostvars[inventory_hostname]['provider'] }}
        --cloud-provider-class {{ hostvars[inventory_hostname]['provider_class'] }}
        {% endif %}
