git_repo:
  lit-os:
    url: git@github.com:LIT-Protocol/lit-os.git
    branch:
      default: main
      {{ env }}: {{ hostvars[inventory_hostname]['branch-os'] }}
  lit-assets:
    url: git@github.com:LIT-Protocol/lit-assets.git
    branch:
      default: main
      {{ env }}: {{ hostvars[inventory_hostname]['branch-assets'] }}