git_repo:
  lit-os:
    url: {{ hostvars[inventory_hostname]['repo_os_url'] }}
    branch:
      default: main
      {{ env }}: {{ hostvars[inventory_hostname]['branch_os'] }}
  lit-assets:
    url: {{ hostvars[inventory_hostname]['repo_assets_url'] }}
    branch:
      default: main
      {{ env }}: {{ hostvars[inventory_hostname]['branch_assets'] }}
