git_repo:
  lit-os:
    url: git@github.com:LIT-Protocol/lit-host.git
    branch:
      default: main
      {{ env }}: {{ hostvars[inventory_hostname]['branch_os'] }}
  lit-assets:
    url: git@github.com:LIT-Protocol/lit-peer.git
    branch:
      default: main
      {{ env }}: {{ hostvars[inventory_hostname]['branch_assets'] }}
